

.button_main{
    height: 38px;
    border-radius: 8px;
    padding:12px 16px;
    gap:16px;
    color:white;
    border:1px solid var(--cor-secundaria-orange-66);
    background-color:var(--cor-secundaria-orange-66);
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: width 1s, height 1s;
}
.button_main:hover{
    cursor: pointer;  
}
.select_main{
    height: 45px;
    width: 372px;
    padding:12px 12px 12px 16px;
    border-radius:8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(/assets/svg/up-arrow-svgrepo-com.svg) no-repeat  center right 10px #FFF;
    background-size: 20px;
    border: 1px solid #333;
    font-size: 16px;
    padding-right: 20px;
}
.select_main:focus{
    background: url(/assets/svg/up-arrow-svgrepo-com.svg) no-repeat  center right 10px #FFF;
    background-size: 20px;
}

.input_main{
    width: 372px;
    height: 38px;
    border-radius:8px;
    padding:2px 5px 2px 16px;
    border:1px solid black;
    outline-style: none;
    font-size: 17px;
}