.select_main{
    height: 45px;
    width: 372px;
    padding:12px 12px 12px 16px;
    border-radius:8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(/assets/svg/up-arrow-svgrepo-com.svg) no-repeat  center right 10px #FFF;
    background-size: 20px;
    border: 1px solid #333;
    font-size: 16px;
    padding-right: 20px;
}
.select_main:focus{
    background: url(/assets/svg/up-arrow-svgrepo-com.svg) no-repeat  center right 10px #FFF;
    background-size: 20px;
}