@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto&display=swap');
@import url(assets/css/button.css);
@import url(assets/css/reset.css);
@import url(assets/css/color.css);
@import url(assets/css/select.css);
@import url(assets/css/input.css);


body{
  background-color: #FAFAFA;
}
*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
}


h1,h2,h3,h4,p,label{
  font-family: 'Barlow';
}
.fullPagine{
  display: flex;
  border-bottom: #FAFAFA solid 0.5px;
}

/* Pate Lateral esquerda*/
.soonLeft {
  flex-direction: column;
  display: flex;
  margin: 0 auto;

  background-color: #FFFFFF;
  padding: 0px 35px 20px 35px;
  border-radius:4px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  z-index: 99;
}
.maskSoon {
  margin-bottom: 65vh;
  display: flex;
}
.maskSoon img{
  width: 228px;
  margin: 64px auto;
}

.specification {
 display: flex;
 row-gap: 8px;
 align-items: baseline;
 flex-direction: column;
 color:var(--cor-principal-black-50);
}

.paragraphMain{
  color:var(--cor-principal-black-50);
  font-weight: 500;
}

/* Footer*/

.finallyline {
  font-family: 'Barlow';
  color: var(--cor-principal-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.finallyline {
  width: 100%;
  height: 5%;
}

/*Parte Direita*/
.requests {
  padding: 0px 50px;
  width: 100%;
  margin-top: 30px;
}
.requests h1 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 30px;
  color:var(--cor-principal-black-30);
}
.titles{
  margin-bottom: 20px;
  color:var(--cor-principal-black-40);
}
.alertOn{
  position: fixed;
  right:40px;
  top:40px;
  border-radius:3px;
  width:200px;
  text-align: center;
  padding:10px;
  background-color: rgba(255, 0, 0, 0.26);
  color: rgb(245, 76, 76);
  font-weight: bolder;
  transition: background 0.3s, color 0.3s;
}
.alertOff{
  background-color: rgba(255, 0, 0, 0);
  color: rgba(245, 76, 76, 0);
  position: absolute;
  right:40px;
  top:40px;
  border-radius:3px;
  width:200px;
  text-align: center;
  padding:10px;
  transition: background 0.3s, color 0.3s;
}
.maskInput {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom:60px;
}
.typeDelevery{
  display: flex;
  gap: 10px;
  align-items: center;
}
.typeSalao{
  display: flex;
  gap: 10px;
  align-items: center;
}
.search{
  display: flex;
  margin-bottom:25px;
}
.searchProduct{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 350px;
}
.labelSearch{
  width: 150px;
}
.searchCod {
  width: 300px;
  border-radius: 4px;
  height: 25px;
  padding: 5px; 
}

.searchBtn{
  border:1px solid var(--cor-secundaria-orange-36);
  background-color: #FFF;
  color: var(--cor-secundaria-orange-36);
  margin-top: 15px;
  transition: background 0.3s;
}
.searchBtn:hover{
  background-color:var(--cor-secundaria-orange-96);
}
.organization {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
}
.widProductName{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.quantity,.productName, .price {
margin-top: 3px;
border-radius: 4px;
height: 25px;
padding: 5px;
}
.quantity {
  width: 90%;
}
.productName {
  width: 100%;
  background-color: var(--cor-principal-black-90);
}
.price{
  width: 100px;
  background-color: var(--cor-principal-black-90);
}
.widPrice {
margin-left: 20px;
}
.addProduct {
  display: flex;
  justify-content: flex-end;
}
.btnAdd{
  background-color:var(--cor-principal-black-70);
  border:none;
  margin-bottom: 40px;
}
.buttonAlteration {
  display: flex;
  gap: 15px;
  justify-content: end;
}
.cancelBtn{
  background-color: rgba(255, 255, 255, 0);
  color:var(--cor-tercearia-roxo-32);
  font-weight: bolder;
  border:none;
  transition: background 0.3s;
}
.cancelBtn:hover{
  background-color:var(--cor-tercearia-roxo-92);
}
.saveBtn{
  background-color: var(--cor-principal-black-70);
  border:none;
}
/*Organização da tabela*/
table{
  width: 100%;
  font-family: 'Barlow';
  margin-bottom:40px;
}
th{
  background-color: var(--cor-principal-black-90);
  border-top:1px solid var(--cor-principal-black-70);
  border-bottom:1px solid var(--cor-principal-black-70);
  color:black;
  text-align: center;
  border-radius: 2px;
}
th{
  padding:7px;
  text-align: center;
}
td{
  padding:7px;
  border-top:1px solid var(--cor-principal-black-90);
  border-bottom:1px solid var(--cor-principal-black-90);
}
.codeTable{
  width: 10%;
}
.productTable{
  width:70%;
  border-left:0.8px solid white;
}
.quantityTable{
  width: 10%;
  border-left:0.8px solid white;
}
.valueProductTable{
  width: 10%;
  border-left:0.8px solid white;
}

h2{
  font-size:25px;
  color: var(--cor-principal-black-40);
}
.active{
  background-color: var(--cor-secundaria-orange-36);
}
.linkSite{
  text-decoration: none;
}
.newOrder {
  margin-bottom: 70px;
  background: var(--cor-tercearia-roxo-52);
  border:none;
  
}
.alertActive{
  border:1px solid red;
  background-color:rgba(255, 0, 0, 0.247);
}
@import url(/index.css);

.requests > a{
  text-decoration: none;
}

.newOrder:hover{
  background: var(--cor-tercearia-roxo-42);
}
.filterBy{
  margin-bottom:10px;
  font-size: 20px;
  color:var(--cor-principal-black-40);
}
.boxFilter{
  display: flex;
  justify-content: space-between;
  margin-bottom:15px;
}
.filterBtn {
  display: flex;
  gap: 10px;
}
.numberRequest{
  width: 20%;
  text-align: start;
  font-weight: bold;
}
.numberRequest > input{
  margin-right: 10px;
  width: 14px;
  height: 14px;
}
.itemTable{
  font-weight: bold;
  width: 50%;
  text-align: start;
   border-left:0.8px solid white;
}
.typeTable,.valueTable,.statusTable {
  width: 10%;
  text-align: start;
  border-left:0.8px solid white;
}

.ocultSection{
  display: none;
  background: #ffffff00;
  transition:background 0.5s ;
}

.print{
  display: flex;
  gap: 30px;
}
.checkBox{
  margin-right: 20px;
}
.btnStatusReceived,.btnStatusDelivered,.btnStatusReady{
  margin:0; 
  font-family: 'ballow';
  font-weight: bolder;
  height: 37px;
  border-radius: 8px;
  padding:0px 16px;
  color:white;
  border:1px solid var(--cor-secundaria-orange-66);
  background-color:var(--cor-secundaria-orange-66);
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: width 1s, height 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btnStatusReceived,.btnStatusDelivered,.btnStatusReady{
  cursor: pointer;
}
.btnStatusReceived,.btnStatusDelivered,.btnStatusReady{
  background-color: var(--cor-principal-black-60);
  color:var(--cor-principal-black-30);
  border:1px solid var(--cor-principal-black-50);
}
.btnStatusReceived{
  background-color: var(--cor-principal-black-60);
  color:var(--cor-principal-black-30);
  border:1px solid var(--cor-principal-black-50);
}
.btnStatusDelivered{
  background-color: rgb(0, 158, 0);
  color:rgb(1, 105, 1);
  border:1px solid rgb(2, 138, 2);
}
.btnStatusReady{
  background-color: yellow;
  color:rgb(150, 150, 0);
  border:1px solid rgb(158, 158, 0);
}
.activeButton{
  background-color: var(--cor-secundaria-orange-36);
}
