@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto&display=swap');
@import url(assets/css/button.css);
@import url(assets/css/reset.css);
@import url(assets/css/color.css);
@import url(assets/css/select.css);
@import url(assets/css/input.css);

*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1200px;
  margin:0 auto;
}

h1,h2,h3,h4,p,label{
  font-family: 'Barlow';
}
.fullPagine{
  display: flex;
  border-bottom: #FAFAFA solid 0.5px;
}

/* Pate Lateral esquerda*/
.soonLeft {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  height: 100%;
  background-color: #FFFFFF;
  padding: 0px 35px 20px 35px;
  border-radius:4px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  z-index: 99;
}
.maskSoon {
  margin-bottom: 65vh;
  display: flex;
}
.maskSoon img{
  width: 228px;
  margin: 64px auto;
}

.specification {
 display: flex;
 row-gap: 8px;
 align-items: baseline;
 flex-direction: column;
}

.paragraphMain{
  color: gray;
  font-weight: 500;
}

/* Footer*/
.finallyline {
  font-family: 'Barlow';
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.finallyline {
  width: 100%;
  height: 5%;
}

/*Parte Direita*/
.requests {
  background-color: #FAFAFA;
  padding: 0px 50px;
  width: 100%;
  margin-top: 30px;
}
.requests h1 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
}
.titles{
  margin-top: 10px;
}
.maskInput {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.typeDelevery{
  display: flex;
  gap: 10px;
  align-items: center;
}
.typeSalao{
  display: flex;
  gap: 10px;
  align-items: center;
}
.search{
  display: flex;
}
.searchProduct{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 350px;
}
.labelSearch{
  width: 150px;
}
.searchCod {
  width: 300px;
  border-radius: 4px;
  height: 25px;
  padding: 5px; 
}

.searchBtn{
  border:1px solid var(--cor-secundaria-orange-36);
  background-color: #FFF;
  color: var(--cor-secundaria-orange-36);
  margin-top: 15px;
}
.btnAdd{
}
.organization {
  display: flex;
  
  gap: 10px;
}
.widProductName{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.quantity,.productName, .price {
margin-top: 3px;
border-radius: 4px;
height: 25px;
padding: 5px;
}
.price{
  width: 100px;
}
.quantity {
  width: 90%;
}
.productName {
  width: 100%;
}
.widPrice {
margin-left: 20px;
}
.addProduct {
  margin-left: 63%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.buttonAlteration {
  display: flex;
 gap: 15px;
 justify-content: end;
margin-right: 5%;
}
/*Organização da tabela*/
table{
  width: 95%;

}
th{
  background-color: rgb(206, 206, 206);
  color:black;
}
th,td{
  padding:7px;
  text-align: start;
}