.buttonMain{
    height: 35px;
    border-radius: 8px;
    padding:0px 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: width 1s, height 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition:  background 0.5s;
  }

  .buttonMain:hover{
    cursor: pointer;  
  }
  .selectMain{
    height: 38px;
    width: 372px;
    padding:12px 12px 12px 16px;
    border-radius:8px;
  }
  .selectMain::after{
    content: '\25BC';
    position: absolute;
  }