:root{
    --cor-principal: 0, 0%;
    --cor-secundaria:29, 100%;
    --cor-tercearia:256, 100%;

    --cor-principal-10: hsl(var(--cor-principal), 10%);
    --cor-principal-20: hsl(var(--cor-principal), 20%);
    --cor-principal-30: hsl(var(--cor-principal), 30%);
    --cor-principal-40: hsl(var(--cor-principal), 40%);
    --cor-principal-50: hsl(var(--cor-principal), 50%);
    --cor-principal-60: hsl(var(--cor-principal), 60%);
    --cor-principal-70: hsl(var(--cor-principal), 70%);
    --cor-principal-90: hsl(var(--cor-principal), 90%);
  
    --cor-secundaria-36: hsl(var(--cor-secundaria), 36%);
    --cor-secundaria-46: hsl(var(--cor-secundaria), 46%);
    --cor-secundaria-56: hsl(var(--cor-secundaria), 56%);
    --cor-secundaria-66: hsl(var(--cor-secundaria), 66%);
    --cor-secundaria-76: hsl(var(--cor-secundaria), 76%);
    --cor-secundaria-96: hsl(var(--cor-secundaria), 96%);
  
  
    --cor-tercearia-26: hsl(var(--cor-tercearia), 26%);
    --cor-tercearia-32: hsl(var(--cor-tercearia), 32%);
    --cor-tercearia-42: hsl(var(--cor-tercearia), 42%);
    --cor-tercearia-52: hsl(var(--cor-tercearia), 52%);
    --cor-tercearia-62: hsl(var(--cor-tercearia), 62%);
    --cor-tercearia-72: hsl(var(--cor-tercearia), 72%);
    --cor-tercearia-82: hsl(var(--cor-tercearia), 82%);
    --cor-tercearia-92: hsl(var(--cor-tercearia), 92%);

  }

